body{
    background: rgba(240, 74, 49, 0.896);
}
 ::placeholder {
    color: #495057;
    color: white !important;
    
}
.container{
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: aliceblue;
    border: none;
    background:  #495057;
    max-width: 400px;
}
.todos li{
    background: #D87E7E;
}
.delete{
    cursor: pointer;
}
.lbl{
    background: none;
    border-bottom: 1px solid aliceblue;
    border-radius: 5px;
    padding: 10px;
}
.filtered{
    display: none !important;
}
